.footer-container {
  position: relative;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.social-links img {
  border-radius: 50%;
  height: 5vw;
}

.footer-headings {
  display: flex;
  justify-content: center;
  gap: 2vw;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}